@import '../../../styles/base';

// HEADER STYLES //
.headerMajor {
  font-family: $header-font-family;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
}

.headerMinor {
  font-family: $header-font-family;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 90%;
}

// BUTTON STYLES //

.buttonContainer {
  background-color: mediumaquamarine;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

// STEP STYLES //

.stepDescription {
  font-size: 14px;
}

.stepContainer {
  flex-basis: 200px;
  flex-grow: 1;
}

.stepContent {
  width: 200px;
  margin: 0 auto;
}

.stepsContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 100%;
}

.stepImage {
  font-size: 100px;
}

.stepTitleMajor {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
}

.stepTitleMinor {
  font-size: 16px;
  margin-bottom: 5px;
  width: 100%;
}

.stepOneIcon {
  color: grey;
}

.stepTwoIcon {
  color: orangered;
}

.stepThreeIcon {
  color: darkseagreen;
}

.stepFourIcon {
  color: navy;
}

// MODAL STYLES //

.modalBanner {

}

.modalMessage {
  font-size: 18px;
  margin: 0px auto;
  margin-top: 30px;
  margin-bottom: 60px;
  text-align: center;
}

.modalRedirectButtons {
  display: flex;
  flex-flow: row wrap;
}

.modalRedirectButton {
  background-color: mediumaquamarine;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  height: 25px;
  margin: 0px auto;
  padding: 2px;
  width: 100px;
  text-align: center;
}

.modalRedirectButton:hover {
  color: white;
  text-decoration: none;
}
