@import '../../../styles/base';

// ABOUT PAGE CONTAINER
.aboutContainer {
  margin: 0px 20px;
}

// SIDEBAR STYLES
.navSidebarContainer {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}

.navSidebarTab {
  clear: left;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-family: $sidebar-font-family;
  font-size: 30px;
  text-transform: uppercase;
  width: auto;
}

.navSidebarTabActive {
  clear: left;
  color: #23527c;
  cursor: default;
  display: inline-block;
  float: left;
  font-family: $sidebar-font-family;
  font-size: 30px;
  text-decoration: underline;
  text-transform: uppercase;
  width: auto;
}

// PANES

.aboutPane {
  display: none;
  margin-bottom: 25px;
  opacity: 0;
}

.aboutPaneActive {
  animation: fadeInPane 0.5s linear;
  display: block;
  margin-bottom: 25px;
  opacity: 1;
}

.paneTitle {
  font-family: $header-font-family;
  font-size: 30px;
  margin-bottom: 10px;
}

.paneContent {
  text-align: justify;
}

// PROFILE PANELS
.profilePanels {
  display: flex;
  margin-top: 30px;
}

.profilePanel {
  flex-basis: 0px;
  flex-grow: 1;
}

.profileAvatar {
  border: 1px solid grey;
  margin: 30px auto;
  height: 100px;
  text-align: center;
  width: 100px;
}

.avatarImage {
  font-size: 100px;
}

.profileName {
  font-size: 20px;
  text-align: center;
}

.profileText {
  border: 1px solid grey;
  margin: 30px 20px;
}

.profileText > ul {
  padding: 15px 30px;
}

//FAQ TABLE STYLING
.question {
  background-color: lightgrey;
  border: 1px solid grey;
  font-weight: bold;
  padding: 5px 5px 0px 5px;
}

.answer {
  border: 1px solid grey;
  padding: 5px 5px 0px 5px;
}

// ANIMATIONS
@keyframes fadeInPane {
  0%   {filter: blur(2px); opacity: 0; transform: translate(0px, 20px)}
  100% {filter: blur(0px); opacity: 1; transform: translate(0px, 0px)}
}
