@import '../../../styles/base';

// FOR EMPLOYERS PAGE CONTAINER
.forEmployersContainer {
  margin: 0px 20px;
  text-align: center;
}

// HEADER
.header {
  margin-bottom: 20px;
  font-size: 30px;
}

.content {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: justify;
}
