@import '../../styles/base';

// FORM CONTAINER
.contactFormContainer {
  font-size: 16px;
  width: 100%;
  text-align: left;
}

.formRow {
  margin-bottom: 5px;
}

.messageBlock {
  margin-bottom: 20px;
}

// LABELS
label {
  font-family: $content-text-font-family;
  width: 175px;
}

input {
  font-family: $content-text-font-family;
  font-style: normal;
  padding: 0px 5px;
  width: 250px;
}

input[value=''] {
  font-style: italic;
}

.messageBlock > textarea {
  height: 100px;
  line-height: 16px;
  overflow-y: auto;
  resize: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 500px;
}

.errorMessage {
  animation: slideDown linear 0.05s;
  color: red;
  font-style: italic;
  margin-left: 180px;
}

.submitButton {
  margin-top: 10px;
}

// ANIMATIONS
@keyframes slideDown {
  0%   {opacity: 0; transform: translate(0px, -10px)}
  100% {opacity: 1; transform: translate(0px, 0px)}
}
