@import '../../styles/base';

.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}

.logoContainer {
  flex-grow: 1;
  height: 100%;
  width: 100px;
}

.navbarContainer {
  border: 3px solid $navbar-border-color;
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 0px;
}

.routeContainer {
  flex-basis: 150px;
  font-size: 16px;
  font-weight: bold;
}
