@import '../../../styles/base';

.careerProfileContainer {
}

//MAJOR PROFILE ELEMENTS

.icon {
  font-size: 50px;
}

.backButton {
  float: left;
  font-size: 18px;
}

.title {
  font-size: 30px;
}

.informationContainer {
  border: 1px solid grey;
  border-radius: 15px;
  margin-top: 10px;
  padding: 10px;
  text-align: justify;
}

.descriptionLabel {
  font-size: 18px;
  margin-top: 30px;
  text-align: left;
}

.exampleTasksLabel {
  font-size: 18px;
  margin-top: 30px;
  text-align: left;
}

.transferableSkillsLabel {
  font-size: 18px;
  margin-top: 30px;
  text-align: left;
}

.skillGapsLabel {
  font-size: 18px;
  margin-top: 30px;
  text-align: left;
}

//SLIDER ELEMENTS
.jobMetricsLabel {
  font-size: 18px;
  margin-top: 30px;
  text-align: left;
}

.jobMetrics {
  display: flex;
}

.jobMetric {
  flex: 1 1 100px;
  height: 75px;
  padding: 0px 50px;
}

.jobMetricSliderLabel {
  font-weight: bold;
  text-align: center;
}

.jobMetricSlider {
  margin-top: 10px;
  background-color: dodgerblue;
}
