@import '../../../styles/base';

.careerProfileContainer {
}

//MAJOR PROFILE ELEMENTS

.icon {
  font-size: 50px;
}

.backButton {
  font-size: 18px;
}

.title {
  font-size: 30px;
}

.collapseIcon {
  margin-right: 10px;
  pointer-events: none;
}

.expandIcon {
  margin-right: 10px;
  pointer-events: none;
}

.informationLabel {
  cursor: pointer;
  font-size: 18px;
  margin-top: 30px;
  text-align: left;
}

.informationLabel > span {
  pointer-events: none;
}

.informationContainerCollapsed {
  animation: collapse 0.25s linear;
  border: 1px solid grey;
  border-radius: 15px;
  margin-top: 10px;
  max-height: 0px;
  overflow: hidden;
  text-align: justify;
}

.informationContainerExpanded {
  animation: expand 0.5s linear;
  border: 1px solid grey;
  border-radius: 15px;
  margin-top: 10px;
  max-height: 500px;
  overflow: hidden;
  text-align: justify;
}

.informationContent {
  padding: 10px;
}

//SLIDER ELEMENTS
.jobMetricsLabel {
  font-size: 18px;
  margin-top: 30px;
  text-align: left;
}

.jobMetrics {
  display: flex;
}

.jobMetric {
  flex: 1 1 100px;
  height: 75px;
  padding: 0px 50px;
}

.jobMetricSliderLabel {
  font-weight: bold;
  text-align: center;
}

.jobMetricSlider {
  margin-top: 10px;
  background-color: dodgerblue;
}

@keyframes expand {
  0% {max-height: 0px;}
  100% {max-height: 500px;}
}

@keyframes collapse {
  0% {max-height: 500px;}
  100% {max-height: 0px;}
}
